body {
    background: linear-gradient(to top, #dcdbd3 80%, #009688 80%, #009688 100%);
    min-height: 100vh;
    /* font */
    font-family: 'Roboto', sans-serif;
}

main {
    /* test */
    height: 700px;

    background-color: white;
    max-height: 700px;
}

/* ICONS */
* i.header-icon {
    font-size: 1.5rem;
    color: #b0b0b0;
}

/* AVATARS */
* img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}