body {
    background: linear-gradient(to top, #dcdbd3 80%, #009688 80%, #009688 100%);
    min-height: 100vh;
    /* font */
    font-family: 'Roboto', sans-serif;
}

main {
    /* test */


    background-color: white;
    max-height: 700px;
}

/* ICONS */
* i.header-icon {
    font-size: 1.5rem;
    color: #b0b0b0;
}

.notification-badge {
    background-color: #8ed9fc;
}

.notification-box-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.notification-icon {
    font-size: 1.5rem;
    color: #8ed9fc;
}

.notification-badge-text {
    font-size: 0.8rem;
}

.notification-badge-text a {
    color: #b0b0b0;
}





/* AVATARS */
* img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



/* SEARCH-BAR */
.search-bar-icon-box {
    border: solid 1px #b0b0b075;
    border-right: none;
}

.search-bar-box i {
    font-size: 1rem;
    color: #b0b0b0;
}

.search-bar-box input {
    border: solid 1px #b0b0b075;
}






/* CONTACT LIST */
.contact-list-box {
    border-top: solid 1px #b0b0b075;
    background-color: white;
}