body {
    background: linear-gradient(to top, #dcdbd3 80%, #009688 80%, #009688 100%);
    background-repeat: no-repeat;
    height: 100vh;
    /* font */
    font-family: 'Roboto', sans-serif;
    z-index: -1;
}

main {
    /* test */
    background-color: white;
    z-index: 1;
}

/* ICONS */
* i.header-icon {
    font-size: 1rem;
    color: #b0b0b0;
}

.notification-badge {
    background-color: #8ed9fc;
}

.notification-box-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.notification-icon {
    font-size: 1.5rem;
    color: #8ed9fc;
}

.notification-badge-text {
    font-size: 0.8rem;
}

.notification-badge-text a {
    color: #6a6a6a;
}





/* AVATARS */
* img.avatar {
    margin: .5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



/* SEARCH-BAR */
#search-bar {
    font-size: .8rem;
    overflow: hidden;
    max-height: 100px;
}




.search-bar-icon-box {
    border: solid 1px #b0b0b075;
    border-right: none;
}

.search-bar-box i {
    font-size: .8rem;
    color: #b0b0b0;
}

.search-bar-box input {
    border: solid 1px #b0b0b075;
}






/* CONTACT LIST */
#contact-list-big-box {
    border-right: solid 1px #b0b0b075;
}

#contact-list-container {
    overflow-y: auto;

}

.contact-list-box {
    border-top: solid 1px #b0b0b075;
    background-color: white;
}

.contact-name {
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.last-message {
    font-size: 0.7rem;
    line-height: .1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b0b0b0;
}

.last-message-time {
    font-size: 0.8rem;
    white-space: nowrap;
    color: #b0b0b0;
}

.contact-list-aria {
    height: 50px;
}



/* CHAT DISPLAY */

#chat-display {
    background-image: url(../img/mine.jpg);
    background-size: fill;

    height: calc(100% - 82px);
}

#chat-display-big-box {
    overflow-y: hidden;
    height: 100%;
}