<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>



    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- framework -->
    <link rel="stylesheet" href="./css/framework.css">

    <!-- style css -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/39dc9eb8ed.js" crossorigin="anonymous"></script>
</head>




<body data-bs-theme="" class="position-relative p-5">
    <div id="bg-top">
    </div>
    <div id="bg-main">
    </div>

    <main id="app" class="container m-auto mt-5 mb-5 d-flex p-0">





        <!-- ****************** SECTION CONTACT LIST ****************** -->
        <section id="contact-list-big-box" class="col-4">
            <!-- header contact list -->
            <header class="d-flex justify-content-between align-items-center">
                <!-- profile -->
                <div class="d-flex align-items-center p-2">
                    <img class="avatar" src="./img/avatar_io.jpg" alt="">
                    <span class="text-capitalize">sofia</span>
                </div>
                <!-- header icons -->
                <div class="d-flex align-items-center gap-3 px-4">
                    <i class="fa-solid fa-circle-notch header-icon"></i>
                    <i class="fa-solid fa-message header-icon"></i>
                    <i class="fa-solid fa-ellipsis-vertical header-icon"></i>
                </div>
            </header>

            <!-- activate notifications on deskstop -->
            <div class="notification-badge d-flex align-items-center p-3">
                <span
                    class="d-flex notification-box-icon notification-box-icon justify-content-center align-items-center">
                    <i class="fa-solid fa-bell-slash notification-icon text-center"></i>
                </span>
                <span class="d-flex flex-column notification-badge-text px-2">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <a href="#">Attiva notifiche desktop</a>
                </span>
            </div>


            <!-- search bar/contact filter -->
            <div id="" class="d-flex search-bar-box p-1">
                <div class="search-bar-icon-box bg-white d-flex align-items-center rounded-1 rounded-end-0">
                    <i class="fw-bold fa-solid fa-magnifying-glass px-4"></i>
                </div>
                <input id="search-bar" class="rounded-1 rounded-start-0 form-control search-bar-box bg-white"
                    type="search" placeholder="Search" aria-label="Search" v-model="inputFilter">
            </div>



            <!-- dynamic contact list -->
            <div id="contact-list-container">
                <div class="contact-list-box" v-for="(contactItem, index) in filteredContacts " :key="index"
                    @mouseover="changeColor" ref="contactList" v-on:click="openChat(index)">

                    <div class="contact-box">
                        <div class="contact-info-box d-flex align-items-center">
                            <div>
                                <img class="avatar" :src="contactItem.avatar" alt="">
                            </div>

                            <div class="d-flex flex-column w-100 pe-2">
                                <div class="d-flex justify-content-between align-content-center flex-grow-1">
                                    <span class="contact-name text-capitalize ">{{contactItem.name}}</span>
                                    <span class="last-message-time">{{ contactItem.messages[contactItem.messages.length
                                        -
                                        1].date
                                        }}</span>
                                </div>
                                <div>
                                    <span class="last-message">{{ contactItem.messages[contactItem.messages.length -
                                        1].message
                                        }}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-list-aria">
            </div>



        </section>


















        <!-- ****************** SECTION CHAT DISPLAY ****************** -->
        <section id="chat-display-big-box h-100" class="col-8">
            <header class="d-flex justify-content-between align-items-center">
                <!-- profile -->
                <div class="d-flex align-items-center p-2">
                    <img class="avatar" :src="contacts[activeIndex].avatar" alt="">
                    <span class="text-capitalize">{{contacts[activeIndex].name}}</span>
                </div>
                <!-- header icons -->
                <div class="d-flex align-items-center gap-3 px-4">
                    <i class="fa-solid fa-circle-notch header-icon"></i>
                    <i class="fa-solid fa-message header-icon"></i>
                    <i class="fa-solid fa-ellipsis-vertical header-icon"></i>
                </div>
            </header>

            <!-- inner chat display and messages -->
            <div id="chat-display" class="d-flex flex-column">
                <div id="chat-container" class="d-flex flex-column flex-grow-1 gap-3 p-5">
                    <div class="d-flex message p-2 px-4" :class="messageItem.status"
                        v-for="(messageItem, index) in contacts[activeIndex].messages" :key="index">
                        <div class="d-flex flex-column ">
                            <span>{{messageItem.message}} <a class="" data-bs-toggle="dropdown" aria-expanded="false"
                                    href=""><i class="fa-solid fa-angle-down"></i></a>
                                <ul class="dropdown-menu dropdown-style">
                                    <li><a class="dropdown-item">Message info</a></li>
                                    <li><a class="dropdown-item" @click="deleteMessage(index)">Delete
                                            message</a></li>
                                </ul>
                            </span>
                            <span class="inner-message-date align-self-end">{{messageItem.date}}</span>
                        </div>
                    </div>
                </div>

                <!-- input message -->
                <div id="input-message-box" class="p-2 d-flex align-items-center">
                    <i class="fa-regular fa-face-smile px-4"></i>
                    <div class="input-group input-group-lg">
                        <input id="input-message-bar" type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg" v-model="newMessage" @keyup.enter="sendMessage()">
                    </div>
                    <i class="fw-bold fa-solid fa-microphone px-4"></i>
                </div>
            </div>
        </section>

    </main>










    <!-- ******** LIBRARIES AND FRAMEWORKS ******** -->

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3"></script>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- JS -->
    <script type="text/javascript" src="./js/script.js"></script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>